@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #44443c;
  padding: 0 10%;
  color: #03045e;
}

.header-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  /* gap: 2.5rem; */
}
.socials-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.nav-social-icon {
  width: 1.6rem;
  height: 1.6rem;
}

a {
  text-decoration: none;
  color: #03045e;
}

menu {
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  padding: 1.2rem;
}

.menu-item:hover {
  background-color: #f5ee84;
}

.intro-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

.intro-message {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.625rem;
}

.intro-desg {
  font-weight: 800;
  font-size: 6.25rem;
  line-height: 7.25rem;
}
.about-me {
  color: rgb(0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
}

.about-me-img {
  width: 100%;
  max-width: 506px;
}

h1 {
  font-size: 3rem;
  font-weight: none;
}

h2 {
  font-size: 2rem;
}

.skills {
  padding: 150px;
}

.skill-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-style: italic;
  font-size: 1.1rem;
}

.java-skill {
  width: 85%;
  text-align: right;
  border-bottom: 2px solid rgb(76, 211, 204);
  margin-left: 80px;
  margin-bottom: 50px;
}

.html-skill {
  width: 89%;
  text-align: right;
  border-bottom: 2px solid rgb(76, 211, 204);
  margin-left: 80px;
  margin-bottom: 50px;
}

.css-skill {
  width: 76%;
  text-align: right;
  border-bottom: 2px solid rgb(76, 211, 204);
  margin-left: 80px;
  margin-bottom: 50px;
}

.js-skill {
  width: 69%;
  text-align: right;
  border-bottom: 2px solid rgb(76, 211, 204);
  margin-left: 80px;
  margin-bottom: 50px;
}

.git-skill {
  width: 80%;
  text-align: right;
  border-bottom: 2px solid rgb(76, 211, 204);
  margin-left: 80px;
  margin-bottom: 50px;
}

.skill-row > p {
  text-align: left;
  margin-left: 80px;
  font-weight: bold;
}

.contact {
  display: grid;
  grid-template-rows: 2fr 5fr 2fr;
}

.name {
  margin: 20px;
}

.contact > h1 {
  padding-bottom: 40px;
}

#name {
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
}
#email {
  padding: 10px;
  border-radius: 10px;
}

#subject {
  margin: 20px;
  padding: 10px;
  width: 405px;
  border-radius: 10px;
}

#message {
  margin-bottom: 20px;
  padding: 10px 10px 100px 10px;
  /* height: 30%; */
  width: 405px;
  max-width: 400px;
  overflow-x: auto;
  border-radius: 10px;
}

.submit {
  margin-top: 20px;
  width: 10%;
  height: 10%;
  border-radius: 10px;
  color: white;
  background-color: rgb(20, 20, 20);
}

.submit:hover {
  background-color: rgb(255, 198, 128);
}
